{% extends "base.html" %}

{% block content %}

        <h1>Books!</h1>

        <form action="/books" method="post">

            
            <input type="text" name="title" id="title" placeholder="title">
            <input type="text" name="author" id="author" placeholder="author"> <br>
            <input type="text" name="genre" id="genre" placeholder="genre">
            <input type="text" name="book_id" id="book_id" placeholder="book id">
            

            <select name="checked_out" id="checked_out" placeholder="checked out">
                
                <option value="" disabled="disabled">checked_out?</option>
                <option value="True">checked out of library</option>
                <option value="False">in library</option>
            </select>

            <input type="submit" value="Add Book" class="button">

        </form>

        {% set count = [] %}
        {% for book in library %}  
        <div>
            <p>
            <h2>Title _ {{ book.book_title }} </h2> 
            
            author - {{ book.author }}<br>

            <a href="/book/{{ count|length }}">more info {{ book.title }}</a>
            

            genre {{ book.genre }}<br>
            checked out of library {{ book.checked_out }}
            
<br>
book checked out - 

{{  book.checked_out }}
<br>

            {% if book.checked_out %}
                <img src="/static/recurring_logo.png" width="20" height="20">
            {% endif %}

            <a href="/remove/{{ count|length }}"> delete </a>
            
            </p>
        </div>
            {% set __ = count.append(1) %}  
        {% endfor %}

{% endblock %}